<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicVault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicVault.Properties.Settings>
            <setting name="adminMejl" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="adminLozinka" serializeAs="String">
                <value>admin</value>
            </setting>
        </MusicVault.Properties.Settings>
    </userSettings>
</configuration>